<div class="blocked-user-container">
    <div class="blocked-user-message">
        <i class="fas fa-ban"></i>
        <h1>ACCESS DENIED</h1>
        <p>YOUR ACCOUNT HAS BEEN SUSPENDED</p>
        <p style="color: rgb(71, 7, 131);">This account has been suspended due to violation of terms of service.</p>
        <p style="color: rgb(71, 7, 131);">Contact your administrator for further assistance.</p>
        <a routerLink="/landing-page">Return to Homepage</a>
    </div>
</div>
<footer style="color: grey;" class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; <span style="font-weight: bold;">VidSecure</span></span>
        </div>
    </div>
</footer>