<body>

    <div class="main">

        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">

            <form class="user">
                <label>Register</label>

                <h6>STEP 2 OF 2</h6>




                <div style="text-align: center;">
                    <br>
                    <h4 style="font-weight: 500;">Choose how to pay</h4>
                    <br>
                    <h5>Your payment is encrypted and you can change how you pay anytime.</h5>
                    <br>
                    <span>Secure for peace of mind.</span>
                    <br>
                    <span>cancel easily online.</span>


                    <br>
                    <br>
                    <div routerLink="/register3"
                        style="display: flex; align-items: center; justify-content: center; margin-top: 10%; background-color: white; border-radius: 5px;">
                        <p style="font-weight: 500;margin-top: 15px;margin-right: 10px;">Credit or Debit Card :</p>
                        <img style="margin-right: 10px;" src="/assets/img/payment.png" alt="Credit Card or Debit Card"
                            width="40%" height="auto">
                        <i style="color: rgb(22, 218, 218); font-size: xx-large;float: right;"
                            class="fas fa-solid fa-chevron-right"></i>
                    </div>



                </div>

            </form>


        </div>
    </div>
</body>