form {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 50px 50px;
    margin-bottom: 10px;
    background-color: rgb(231, 247, 247);
}

label {
    display: block;
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 20px;
}

button {
    margin-top: 50px;
}

.form-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-column {
    width: 70%;
}

.right-column {
    width: 30%;
}


input[type="color"],
input[type="text"],
input[type="number"],
select {
    width: 40%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

p {
    color: rgb(14, 93, 74);
    margin-top: -10px;
}

.controls {
    margin-top: 30px;
}

.cont {
    display: flex;
}

.blocks {
    flex: 1;
    margin-right: 70px;
}

.controls h4 {
    margin-bottom: 10px;
}

.control-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}