<header>
    <nav>
        <div class="logo">
            Vid <span style="margin-left: -10px;">Secure</span>
        </div>
        <div class="menu">
            <a>Home</a>
            <a>About</a>
            <a>Services</a>
            <a>Contact</a>
        </div>
        <div class="register">
            <a routerLink="/register">Register</a>
            <a style="margin-left: 20px;" routerLink="/login">Login</a>
        </div>
    </nav>
    <section class="h-txt">
        <span>Enjoy</span>
        <h1>Keep your videos secured and safe</h1>
        <br>
        <a>Read more</a>
    </section>
</header>