<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
</head>

<body>
    <div id="wrapper">
        <app-sidebar></app-sidebar>
        <div id="content-wrapper" class="d-flex flex-column">
            <app-topbar></app-topbar>
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                </div>
                <div class="row">
                    <div class="container">

                        <!-- <div style="display: flex; flex-wrap: wrap; gap: 20px;">

                            <iframe
                                src="http://localhost:3000/d-solo/ddp9je0zaydq8d/views-tracking?orgId=1&from=1717113600000&to=1718755200000&panelId=1"
                                width="1100" height="300" frameborder="0"></iframe>

                            <iframe
                                src="http://localhost:3000/d-solo/bdp9gzpcdlse8c/all-views-on-last-uploaded-video?orgId=1&from=1717113600000&to=1718755200000&panelId=1"
                                width="200" height="150" frameborder="0"></iframe>

                            <iframe
                                src="http://localhost:3000/d-solo/cdorszdjpplvkf/views?orgId=1&from=1718284571355&to=1718457371355&panelId=1"
                                width="440" height="210" frameborder="0"></iframe>

                            <iframe
                                src="http://localhost:3000/d-solo/edorkxojxs3y8d/users?orgId=1&from=1718797039144&to=1718818639144&panelId=1"
                                width="250" height="210" frameborder="0"></iframe>

                            <iframe
                                src="http://localhost:3000/d-solo/ddorlkovo4jk0f/users-number?orgId=1&from=1718797081422&to=1718818681422&panelId=1"
                                width="150" height="150" frameborder="0"></iframe>

                        </div> -->



                        <div style="display: flex; flex-wrap: wrap; gap: 20px;">

                            <iframe
                                src="http://localhost:3000/d-solo/ddp9je0zaydq8d/views-tracking?orgId=1&theme=light&panelId=1"
                                width="1100" height="300" frameborder="0"
                                style="border: 2px solid rgb(187, 75, 187);"></iframe>

                            <iframe
                                src="http://localhost:3000/d-solo/bdp9gzpcdlse8c/all-views-on-last-uploaded-video?orgId=1&from=1717113600000&to=1718966784712&theme=light&panelId=1"
                                width="280" height="160" frameborder="0"
                                style="border: 2px solid rgb(187, 75, 187);"></iframe>


                            <iframe
                                src="http://localhost:3000/d-solo/cdorszdjpplvkf/views?orgId=1&from=1718967048999&to=1718967108999&theme=light&panelId=1"
                                width="360" height="210" frameborder="0"
                                style="border: 2px solid rgb(187, 75, 187);"></iframe>


                            <iframe
                                src="http://localhost:3000/d-solo/edorkxojxs3y8d/users?orgId=1&from=1718967168461&to=1718967228461&theme=light&panelId=1"
                                width="250" height="210" frameborder="0"
                                style="border: 2px solid rgb(187, 75, 187);"></iframe>


                            <iframe
                                src="http://localhost:3000/d-solo/ddorlkovo4jk0f/users-number?orgId=1&from=1718967270841&to=1718967330841&theme=light&panelId=1"
                                width="150" height="150" frameborder="0"
                                style="border: 2px solid rgb(187, 75, 187);"></iframe>

                            <iframe
                                src="http://localhost:3000/d/bdpcq1jjut05cd/views-tracking-with-filtred-videoid?orgId=1&theme=light&viewPanel=1"
                                width="1100" height="650" frameborder="0"
                                style="border: 2px solid rgb(187, 75, 187);"></iframe>

                        </div>




                    </div>
                </div>
            </div>

            <footer style="color: grey;" class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; <span style="font-weight: bold;">VidSecure</span></span>
                    </div>
                </div>
            </footer>

        </div>

    </div>

</body>

</html>